<nav>
<%= link_to 'Home', root_path %>
<%= link_to 'Movies', movies_path	 %>
<%= button_to 'Log Out', destroy_user_session_path, method: :delete%>
</nav>


<h3><%= 'Edit Comment' %></h3>

<%= @comment.body %>

<%= form_for [@movie, @comment] do |f| %>
<%= f.text_field :body, required: true, placeholder: 'what would you like to say?' %>
<%= f.submit %>
<% end %>
<br />
