<%= button_to 'Log Out', destroy_user_session_path, method: :delete%>
<nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Movies', movies_path	 %>
</nav>


<h1>Movies</h1>

<%= link_to 'What was a hit movie?', new_movie_path %>


<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to movie.title, movie_path(movie)  %>
    </li>
  <% end %>
</ul>
