<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Movies', movies_path	 %>
  <%= link_to 'Edit', edit_movie_path %>
  <%= button_to 'Log Out', destroy_user_session_path, method: :delete%>
</nav>


<h1><%= @movie.title %></h1>
<%= @movie.duration %>
<%= @movie.genre %>
<%= @movie.description %>
<%= link_to 'Trailer', @movie.trailer, target: :_blank %>
<hr />

<%= link_to 'Add Comment', new_movie_comment_path(@movie.id) %>

<% @movie.comments.each do |c| %>
<li>
<%= c.body %>
<% @comment = c %>
<%= link_to 'Edit', edit_movie_comment_path(@movie.id) %>
</li>
<% end %>
