<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Movies', movies_path	 %>
  <%= link_to 'Edit', edit_movie_path %>
  <%= button_to 'Log Out', destroy_user_session_path, method: :delete%>
</nav>


<h1><%= @movie.title %></h1>
<%= @movie.duration %>
<%= @movie.genre %>
<%= @movie.description %>
<%= link_to 'Trailer', @movie.trailer, target: :_blank %>
<hr />
<%= button_to 'Add Comment', movie_comments_path(@movie.id) %>
